:root {
    --primary-color: #222a55;
    --highlight-color: #c4c440;

    --secondary-color: green;
    --tertiary-color: #ffc400;

    --dark-color: #141a1f;
    --light-color: whitesmoke;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: whitesmoke;
}

body {
    height: 100vh;
    font-family: 'roboto', sans-serif;
}